# store variables in .env file ignored by git
export TF_VAR_pm_api_url="https://<proxmox-server>:8006/api2/json"
export TF_VAR_pm_api_token_id="<token-id>"
export TF_VAR_pm_api_token_secret="<token-secret>"
