# store variables in .env file ignored by git
export TF_VAR_pm_api_url="https://<proxmox-server>:8006/api2/json"
export TF_VAR_pm_api_token_id=""<user>@<realm>!<terraform-token>"
export TF_VAR_pm_api_token_secret="<token-secret>"
export TF_VAR_pm_target_note="<target-node-name>"
